# Lecture 36

## Introduction to Pandas


Welcome to Lecture 36! This lecture is meant to introduce you to `Pandas`. Pandas is a powerful, flexible, and popular Python library primarily used for data manipulation and analysis. Built on top of the NumPy package, it offers data structures and operations for manipulating numerical tables and data.

To use the Pandas library, we first need to import it into our Python environment. It's common to import Pandas using the alias: `pd`:

In [ ]:
#run this cell
import pandas as pd

## Data Structures in Pandas
Pandas provides several robust data structures, with the two primary ones being the `DataFrame` and the `Series`. These structures are designed to handle a vast array of data types and are built with speed and flexibility in mind.

### Series

A `Series` is a one-dimensional array-like object that can hold data of any type (integers, strings, floating numbers, Python objects, etc.). Each element in a Series is indexed, starting from 0 by default. The index can also be explicitly defined, allowing for indexing using labels. 


#### 1. Creating a Series from a List
The most straightforward method to create a Series in pandas is by using a list. This is accomplished through the [`pd.Series`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html) function. For instance, to create a Series with a default integer index that starts from 0, you can follow these steps:

In [ ]:
import numpy as np
s = pd.Series([1, 3, 5, np.nan, 6, 8])

#### 2. Creating a Series with Custom Index

You can specify an index to use when creating the Series. The index length must match the data length:

In [ ]:
data = [1, 3, 5, 7, 9]
index = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index)
print(series)

We can reassign the index of a `Series` to a new index.

In [ ]:
series.index = ["first", "second", "third", "fourth","fifth"]
series.index

#### 3. Creating a Series from a Dictionary
When you use a dictionary to create a Series, the keys become the index labels, and the values become the corresponding series data:

In [ ]:
data = {'a': 1, 'b': 2, 'c': 3}
series = pd.Series(data)
print(series)

#### 4. Series from an ndarray
If you have a NumPy array, you can easily turn it into a pandas Series by passing it as input:

In [ ]:
import numpy as np
data = np.random.randn(5)  # Creates a NumPy array of 5 random numbers
series = pd.Series(data)
print(series)

#### Setting a Name
You can also name a Series, which can be useful in the context of a larger DataFrame:

In [ ]:
series = pd.Series([1, 2, 3], index=['a', 'b', 'c'], name='MySeries')
print(series)

#### Data Types
A Series can hold any data type, and you can explicitly define the data type using the `dtype` argument:

In [ ]:
series = pd.Series([1, 2, 3], dtype='float64')
print(series)

### Selection and Indexing in Series
Indexing in pandas is quite powerful and can be performed in several ways:

#### 1. Basic Indexing
You can access elements in a Series similar to how you would access elements in a list or an array:

In [ ]:
# Creating a simple Series
s = pd.Series([1, 2, 3, 4, 5])
print(s[0])

#### 2. Label-based Indexing
If the Series has an explicit index (labels), you can use these labels to access elements:

In [ ]:
s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print(s['a'])

#### 3. Slicing
You can slice a Series using both label and integer-based indexes:

In [ ]:
# Integer-based slicing
print(s[1:3])  # Output includes index 1 and 2, excludes 3

# Label-based slicing
print(s['a':'c'])  # Output includes both 'a' and 'c'

Note that label-based slicing in pandas is inclusive, unlike typical Python slicing.

#### 4. Filtering
Filtering involves selecting elements from a Series based on a condition, which often involves boolean indexing:

In [ ]:
print(s[s > 2])

You can also use more complex conditions using logical operators:

In [ ]:
# Output: Elements where the value of s is greater than 2 and less than 5
print(s[(s > 2) & (s < 5)])

#### 5. Conditional Selection with where
The where method in pandas allows you to conditionally select elements from a Series, with unmatched conditions being replaced by NaN or another specified value:

In [ ]:
print(s.where(s > 3))  # Elements <= 3 are replaced by NaN

### DataFrame

A `DataFrame` is a two-dimensional, size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is essentially a collection of Series objects that share the same index. This makes it similar to a spreadsheet. 

Dataframes are the pandas equivalent of a Numpy 2D ndarray, with a few key differences:
* Axis values (i.e column and index names) can have string labels, not just numeric ones.
* Dataframes can contain columns with multiple data types: including integer, float, and string.

The equivalent to a 1D array is the pandas `series` object.

DataFrame can be constructed from a wide array of sources such as lists, dicts, series, another DataFrame, and even files. For example:

#### 1. Creating a DataFrame from Lists
You can create a DataFrame from a list of lists, where each inner list represents a row in the DataFrame:

In [ ]:
data = [
    ['Tom', 28],
    ['Nick', 30],
    ['Julia', 25]
]
df = pd.DataFrame(data, columns=['Name', 'Age'])
print(df)

#### 2. Creating a DataFrame from a Dictionary of Lists
A common way to create a DataFrame is from a dictionary where keys become column labels and values (which should be lists) become column data:

In [ ]:
data = {
    'Name': ['Tom', 'Nick', 'Julia'],
    'Age': [28, 30, 25]
}
df = pd.DataFrame(data)
print(df)

#### 3. Creating a DataFrame from a List of Dictionaries
Each dictionary in the list represents a row in the DataFrame. Keys are column labels, and values are data in the columns:

In [ ]:
data = [
    {'Name': 'Tom', 'Age': 28},
    {'Name': 'Nick', 'Age': 30},
    {'Name': 'Julia', 'Age': 25}
]
df = pd.DataFrame(data)
print(df)

#### 4. Creating a DataFrame from a Series
A DataFrame can be constructed from one or more pandas Series. Here’s an example using two Series:


![image.png](https://k21academy.com/wp-content/uploads/2021/10/pandas-datastructure-1024x466.png)

In [ ]:
series1 = pd.Series([3,2,0,1])
series2 = pd.Series([0,3,7,2])
df = pd.DataFrame({'Peppers': series1, 'Carrots': series2})
print(df)

#### 5. Creating a DataFrame from NumPy Arrays
If you have data in NumPy arrays, you can easily convert it into a DataFrame:

In [ ]:
array = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(array, columns=['Column1', 'Column2', 'Column3'])
print(df)

#### 6. Creating a DataFrame with Index
You can specify the index for the DataFrame, which allows more control over the row labels:

In [ ]:
data = {
    'Name': ['Tom', 'Nick', 'Julia'],
    'Age': [28, 30, 25]
}
index = ['Person1', 'Person2', 'Person3']
df = pd.DataFrame(data, index=index)
print(df)

### Reading Data from CSV Files
The `pandas.read_csv()` function is used to read a CSV file into a dataframe. We will use this function to read our dataset and assign it to the variable name `f500`. The `read_csv()` automatically handles reading and parsing most CSV files.

We'll Python's `type()` function to inspect the `f500` dataframe.

In [ ]:
#run this cell

f500 = pd.read_csv('data/f500.csv',index_col=0)

### DataFrame Properties

 Pandas features a range of properties and methods that provide insights into the structure and content of the data it holds. 
 Here's a comprehensive overview of some of the most important properties and methods associated with `DataFrames`:

To view the first few rows of our dataframe, we can use the `.head()` method. By default, it will return the first five rows of our dataframe. However, it also accepts an optional integer parameter, which specifies the number of rows:

In [ ]:
f500.head()

Likewise, we can use the `DataFrame.tail()` method to show us the last rows of our dataframe:

In [ ]:
f500.tail()


The `.shape` property returns a tuple representing the dimensionality of the DataFrame. The first element of the tuple is the number of rows, and the second is the number of columns.

Whereas, the `.size` property returns an integer representing the number of elements in the DataFrame, which is the product of the number of rows and columns.

In [ ]:
print(f500.shape)
print(f500.size)

Next, we'll learn another method that can help us more quickly investigate this issue - the `Series.describe()` method. This method tells us how many non-null values are contained in the series, along with the mean, minimum, maximum, and other statistics we'll learn about later in this path.

Let's look at an example:

In [ ]:
f500['assets'].describe()

If we use `describe()` on a column that contains non-numeric values, we get some different statistics. Let's look at an example:

In [ ]:
f500['previous_rank'].describe()

The `.columns` property returns an Index object containing column labels. Additionally, the `.values` property returns the numpy representation of the DataFrame data.

In [ ]:
print(f500.columns), print(f500.values)


The `.index` property returns an Index object containing the index labels.

In [ ]:
f500.index


The `.dtypes` property returns a Series with the data type of each column.

In [ ]:
f500.dtypes

### Selection and Indexing of DataFrames

Selection and indexing are key operations for data manipulation in pandas, especially with DataFrame objects, which are central to data analysis workflows. In this section, we will go over a comprehensive overview of how these operations can be performed in pandas:

#### 1. Selection using `.iloc`
The `.iloc` indexer is used for selection by position. It allows you to access a subset of the DataFrame or Series based on integer positions, which is similar to how you would index numpy arrays or Python lists. 
Some key considerations:
- **Indexing:** You can specify row positions and column positions, both of which are based on integer indexes starting from 0.
- **Slicing:** Just like Python lists, .iloc supports the standard Python slicing notation.
- **Integer List:** You can pass a list or array of integers to select specific rows or columns.

In [ ]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({
    'A': range(1, 6),
    'B': range(10, 60, 10),
    'C': range(100, 600, 100)
})
# view DataFrame
print(df)

# Select the second row
print(df.iloc[1])

In [ ]:

# Select rows from index 1 to 3 and first two columns
print(df.iloc[1:4, 0:2])

In [ ]:

# Select specific rows using a list of indices
print(df.iloc[[0, 2, 4], :])

#### 2. Selection using `.loc`
The `.loc` indexer accesses a group of rows and columns by labels or a boolean array. `.loc` is primarily label based, but it can also be used with a boolean array. Axes in pandas have labels. Hence, we can select data using those labels — unlike in NumPy, where we needed to know the exact index location. 

```python
df.loc[row_label, column_label]
```
Here are some important aspects:

- **Labels:** You can use index labels and column names to select specific rows and columns.
- **Slicing:** When slicing, the end label is inclusive, which is different from typical Python slicing.
- **Conditional Selection:** You can use conditional statements to filter rows or columns based on their values.
- **Setting Values:** It is also used for setting values in specific rows and columns based on labels.

Let's select a single column by spcifying it label.

In [ ]:
f500.loc[:,"rank"]

In [ ]:
# Example DataFrame with custom indices
df = pd.DataFrame({
    'A': range(1, 6),
    'B': range(10, 60, 10),
    'C': range(100, 600, 100)
}, index=['first', 'second', 'third', 'fourth', 'fifth'])

# View the DataFrame
print(df)

In [ ]:
# Select the row with index label 'c'
print(df.loc['third'])

In [ ]:
# Select from row 'b' to 'd' and columns 'A' to 'B'
print(df.loc['second':'fourth', 'A':'B'])

# Conditional selection
print(df.loc[df['A'] > 2])

Differences Between `.iloc` and `.loc`

- **Indexing Type:** .iloc is integer-based, so you use integer indices to select data. .loc is label-based, so you use labels to select data.
- **Slicing Inclusivity:** In .iloc, slicing excludes the end index, while in .loc, it includes the end index.
- **Data Type:** .iloc strictly works with integers. .loc can work with labels and boolean arrays.

#### Removing data using `drop`
The drop method is used to remove rows or columns by specifying label names and the corresponding axis, or by directly specifying the index or column names. Here are the key aspects:
- **Labels:** Specify the labels of the index or columns you want to remove.
- **Axis:** Determine if you are dropping rows (axis=0) or columns (axis=1). While you can use integers to refer to the first and second axis, pandas dataframe methods also accept the strings "index" and "columns" for the axis parameter:

![Selection_580.png]()
- **Inplace:** By default, drop does not alter the original DataFrame unless inplace=True is set.

In [ ]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'A': range(1, 5),
    'B': range(10, 50, 10),
    'C': range(100, 500, 100)
})


# Drop a row by index
df.drop(2, axis=0)

In [ ]:
# Drop multiple columns
df.drop(['A', 'C'], axis=1)

In [ ]:
# Drop a column without replacement
df.drop('C', axis=1, inplace=False)
df

#### Sorting data using `.sort_values`
The sort_values method sorts a DataFrame by the values of one or more columns. It is highly customizable with several parameters to fine-tune the sort order. Here are the main features:

- **by:** Specify the column or columns to sort by.
axis: Choose to sort by index (axis=0) or by columns (axis=1).
- **ascending:** A boolean or list of booleans, indicating sorting ascending (True) or descending (False).
- **inplace:** Whether to modify the original DataFrame or return a new one.

In [ ]:
# Create a DataFrame
df = pd.DataFrame({
    'Name': ['John', 'Anna', 'Zoe', 'Linda'],
    'Age': [28, 22, 33, 29],
    'Salary': [50000, 54000, 48000, 47000]
})

# Sort by 'Name' in ascending order
df.sort_values(by='Name')

In [ ]:
# Sort by 'Age' in descending order
df.sort_values(by='Age', ascending=False)

In [ ]:
# Sort by multiple columns
df.sort_values(by=['Salary', 'Age'], ascending=[True, False])